body.dark-theme .navbar {
    background: #002347;
}

body.dark-theme .navbar-nav .nav-link {
    color: white !important;
}

body.dark-theme .navbar-nav .nav-link:hover,
body.dark-theme .dropdown-item:hover {
    background: #003366;
}

body.dark-theme .dropdown-menu {
    background: #002347;
}

body.dark-theme .dropdown-item {
    color: white;
}
/*now css for student login/signup*/
body.dark-theme .student-login {
    background: #002347;
    color: white;
}

